body {
    background-image: url("../Images/maxim-hopman-IayKLkmz6g0-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

#SignIn{
  background: #e8eae6;
  border-radius: 10px;
  display:block;
}

.transparent{
  opacity: 95%;
}

#Register{
  background: #e8eae6;
  border-radius: 10px;
  display:none;
}
.btn-left{
  border-radius: 10px 0px 0 px 10px;
}