<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% block HeaderFiles %}
  {% endblock HeaderFiles %}
  <link rel="shortcut icon" href="{% static 'threatify/Images/Threatify_without.ico' %}">

  <title>Threatify</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""><b style="color:#ce1212">THREAT</b><b style="color:#0061a8">IFY</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-5 {% block Dashboard %}{% endblock Dashboard %}">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item mx-5 {% block Cameras %}{% endblock Cameras %}">
          <a class="nav-link" href="{% url 'camera' %}">Cameras</a>
        </li>
        <li class="nav-item mx-5 {% block ThreatLog %}{% endblock ThreatLog %}">
          <a class="nav-link" href="{% url 'threatLog' %}">Threat Log</a>
        </li>
      </ul>
      <ul class="navbar-nav">
      <li class="nav-item dropdown mx-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'threatify/Images/User3.jpg' %}" width="40" height="40" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'settings' %}">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {% block BreadCrumb %}
  {% endblock BreadCrumb %}

  {% block Content %}
  {% endblock Content %}


  {% block Modals %}
  {% endblock Modals %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>