{% extends "threatify/Base.html" %}

{% block HeaderFiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'threatify/CSS/Test.css' %}">
{% endblock HeaderFiles %}

{% block BreadCrumb %}
<!--<nav aria-label="breadcrumb">-->
<!--    <ol class="breadcrumb">-->
<!--        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>-->
<!--        <li class="breadcrumb-item active" aria-current="page">Threat Log</li>-->
<!--    </ol>-->
<!--</nav>-->
{% endblock BreadCrumb %}


{% block Dashboard %}
{% endblock Dashboard %}

{% block Cameras %}
{% endblock Cameras %}

{% block ThreatLog %}
active
{% endblock ThreatLog %}

{% block recorded %}
{% endblock recorded %}

{% block Content %}
{%load static%}
<div class="container">
    <form action="" method="POST" id="DeleteEntries">
    {% csrf_token %}
    <div class="row d-flex justify-content-center py-5 my-5">
      <div class="col-10">
        <table class="table table-hover table-striped table-dark" id="myTable">
          <thead>
              <tr>
                  <th width=5%></th>
                  <th width=10%>Thumbnail</th>
                  <th width=40% data-sortable="true">TimeStamp</th>
                  <th width=20%>Category</th>
<!--                  <th width=20%>Duration</th>-->
<!--                  <th width=10%>Camera ID</th>-->
              </tr>
          </thead>
          <tbody class="panel">
            {% for threatID, cameraID, filePath, timeStamp, category, duration, confidence in threatLogs %}
            <tr>
                  <td class="align-middle"><input type="checkbox" class="larger" aria-label="Checkbox for following text input" name="{{threatID}}"></td>
                  <td data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#myTable">
                      {% ifequal category "Arson&Explosion" %}
                        <img src="{% static 'threatify/Images/Arson&Explosion.jpg' %}" alt="" class="img-fluid">
                        {% endifequal %}
                        {% ifequal category "Gun-Event" %}
                        <img src="{% static 'threatify/Images/Gun-Event.jpg' %}" alt="" class="img-fluid">
                        {% endifequal %}
                      {% ifequal category "Fighting" %}
                        <img src="{% static 'threatify/Images/Fighting.jpg' %}" alt="" class="img-fluid">
                        {% endifequal %}

                  </td>
                  <td data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#myTable" class="align-middle">{{timeStamp}}</td>
                  <td data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#myTable" class="align-middle">{{category}}</td>
<!--                  <td data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#myTable" class="align-middle" class="text-success">-->
<!--                      {{duration}}</td>-->
<!--                  <td data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#myTable" class="align-middle" class="text-error">{{cameraID}}</td>-->

              </tr>
              <tr id="{{forloop.counter}}" class="collapse">
                <td colspan=3 width=55% class="hiddenRow">
                    <video controls>
                      <source src="{% static filePath %}" type="video/mp4">
<!--                        <source src="./static/threatify/storage/Arson005_x264.avi" type="video/avi">-->
                      Your browser does not support the video tag.
                    </video>
<!--                  <div class="embed-responsive embed-responsive-16by9">-->
<!--                    <iframe class="embed-responsive-item" src="{% static filePath %}"></iframe>-->
<!--                  </div>-->
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-danger" data-toggle="modal">
                Delete Logs
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock Content %}

{% block Modals %}
{% endblock Modals %}